.elementor-23 .elementor-element.elementor-element-7d3ee437 {
  --display: flex;
  --min-height: 10vh;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: space-between;
  --align-items: center;
  --gap: 2% 2%;
  --flex-wrap: wrap;
  --background-transition: 0.3s;
  --overlay-opacity: 0.4;
  --margin-block-start: -111px;
  --margin-block-end: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --padding-block-start: 0%;
  --padding-block-end: 0%;
  --padding-inline-start: 4%;
  --padding-inline-end: 4%;
}
.elementor-23
  .elementor-element.elementor-element-7d3ee437:not(.elementor-motion-effects-element-type-background),
.elementor-23
  .elementor-element.elementor-element-7d3ee437
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #00000085;
}
.elementor-23 .elementor-element.elementor-element-7d3ee437::before,
.elementor-23
  .elementor-element.elementor-element-7d3ee437
  > .elementor-background-video-container::before,
.elementor-23
  .elementor-element.elementor-element-7d3ee437
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-23
  .elementor-element.elementor-element-7d3ee437
  > .elementor-background-slideshow::before,
.elementor-23
  .elementor-element.elementor-element-7d3ee437
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-23
  .elementor-element.elementor-element-7d3ee437
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
  background-color: transparent;
  background-image: radial-gradient(
    at center center,
    #88888873 0%,
    #949494 100%
  );
}
.elementor-23 .elementor-element.elementor-element-7d3ee437,
.elementor-23 .elementor-element.elementor-element-7d3ee437::before {
  --border-transition: 0.3s;
}
.elementor-23 .elementor-element.elementor-element-1dd9d858 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: flex-start;
  --gap: 5.2% 5.2%;
  --background-transition: 0.3s;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}
.elementor-23 .elementor-element.elementor-element-1dd9d858.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-23 .elementor-element.elementor-element-29db6748 img {
  width: 100%;
  height: 33px;
  object-fit: contain;
}
.elementor-23 .elementor-element.elementor-element-29db6748 {
  width: var(--container-widget-width, 130px);
  max-width: 130px;
  --container-widget-width: 130px;
  --container-widget-flex-grow: 0;
}
.elementor-23 .elementor-element.elementor-element-29db6748.elementor-element {
  --align-self: center;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-menu-toggle {
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0);
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu
  .elementor-item {
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2.5px;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--main
  .elementor-item {
  color: #ffffff;
  fill: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-cc0af98);
  fill: var(--e-global-color-cc0af98);
}
.elementor-23 .elementor-element.elementor-element-74d31e2f {
  --e-nav-menu-horizontal-menu-item-margin: calc(32px / 2);
  --nav-menu-icon-size: 25px;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 32px;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--dropdown
  a,
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-menu-toggle {
  color: #000000;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--dropdown {
  background-color: #b0b6b6;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-menu-toggle:hover {
  color: #003af1;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #ffffff;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: var(--e-global-color-cc0af98);
  background-color: #ffffff;
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  div.elementor-menu-toggle {
  color: var(--e-global-color-cc0af98);
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  div.elementor-menu-toggle
  svg {
  fill: var(--e-global-color-cc0af98);
}
.elementor-23
  .elementor-element.elementor-element-74d31e2f
  > .elementor-widget-container {
  padding: 0% 0% 0% 0%;
}
.elementor-23 .elementor-element.elementor-element-74d31e2f.elementor-element {
  --flex-grow: 1;
  --flex-shrink: 0;
}
.elementor-23 .elementor-element.elementor-element-13e45453 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: space-between;
  --gap: 1% 1%;
  --background-transition: 0.3s;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}
.elementor-23 .elementor-element.elementor-element-13e45453.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-23 .elementor-element.elementor-element-5ee30b7e {
  --grid-template-columns: repeat(3, auto);
  --icon-size: 16px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
  width: var(--container-widget-width, 23.96%);
  max-width: 23.96%;
  --container-widget-width: 23.96%;
  --container-widget-flex-grow: 0;
  align-self: center;
}
.elementor-23
  .elementor-element.elementor-element-5ee30b7e
  .elementor-widget-container {
  text-align: center;
}
.elementor-23
  .elementor-element.elementor-element-5ee30b7e
  .elementor-social-icon {
  background-color: rgba(2, 1, 1, 0);
}
.elementor-23
  .elementor-element.elementor-element-5ee30b7e
  .elementor-social-icon:hover
  i {
  color: #003af1;
}
.elementor-23
  .elementor-element.elementor-element-5ee30b7e
  .elementor-social-icon:hover
  svg {
  fill: #003af1;
}
.elementor-23 .elementor-element.elementor-element-5ee30b7e.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-23 .elementor-element.elementor-element-650613b0 .elementor-button {
  font-family: "Work Sans", Sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.92px;
  background-color: #f32222;
  border-radius: 30px 30px 30px 30px;
}
.elementor-23
  .elementor-element.elementor-element-650613b0
  .elementor-button:hover,
.elementor-23
  .elementor-element.elementor-element-650613b0
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-23 .elementor-element.elementor-element-650613b0 {
  width: var(--container-widget-width, 209px);
  max-width: 209px;
  --container-widget-width: 209px;
  --container-widget-flex-grow: 0;
}
.elementor-23 .elementor-element.elementor-element-14cf908 .elementor-button {
  font-family: "Work Sans", Sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.92px;
  background-color: #f32222;
  border-radius: 30px 30px 30px 30px;
}
.elementor-23
  .elementor-element.elementor-element-14cf908
  .elementor-button:hover,
.elementor-23
  .elementor-element.elementor-element-14cf908
  .elementor-button:focus {
  background-color: #000000;
}
.elementor-23 .elementor-element.elementor-element-14cf908 {
  width: var(--container-widget-width, 199px);
  max-width: 199px;
  --container-widget-width: 199px;
  --container-widget-flex-grow: 0;
}
@media (max-width: 1024px) {
  .elementor-23 .elementor-element.elementor-element-7d3ee437 {
    --flex-wrap: nowrap;
    --margin-block-start: -105px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0%;
    --padding-block-end: 0%;
    --padding-inline-start: 4%;
    --padding-inline-end: 4%;
  }
  .elementor-23 .elementor-element.elementor-element-1dd9d858 {
    --justify-content: space-between;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 2px;
  }
  .elementor-23 .elementor-element.elementor-element-29db6748 {
    width: var(--container-widget-width, 35%);
    max-width: 35%;
    --container-widget-width: 35%;
    --container-widget-flex-grow: 0;
  }
  .elementor-23
    .elementor-element.elementor-element-74d31e2f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0% 0% 0% 0%;
  }
  .elementor-23 .elementor-element.elementor-element-74d31e2f {
    width: var(--container-widget-width, 40px);
    max-width: 40px;
    --container-widget-width: 40px;
    --container-widget-flex-grow: 0;
  }
  .elementor-23 .elementor-element.elementor-element-13e45453 {
    --justify-content: flex-end;
    --gap: 20px 20px;
  }
  .elementor-23 .elementor-element.elementor-element-5ee30b7e {
    --icon-size: 14px;
    --grid-column-gap: 2px;
  }
}
@media (max-width: 767px) {
  .elementor-23 .elementor-element.elementor-element-7d3ee437 {
    --min-height: 11vh;
    --flex-wrap: wrap;
    --margin-block-start: -75px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
  }
  .elementor-23 .elementor-element.elementor-element-1dd9d858 {
    --padding-block-start: 0%;
    --padding-block-end: 0%;
    --padding-inline-start: 2%;
    --padding-inline-end: 0%;
  }
}
@media (min-width: 768px) {
  .elementor-23 .elementor-element.elementor-element-1dd9d858 {
    --width: 70%;
  }
  .elementor-23 .elementor-element.elementor-element-13e45453 {
    --width: 28%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-23 .elementor-element.elementor-element-1dd9d858 {
    --width: 53%;
  }
  .elementor-23 .elementor-element.elementor-element-13e45453 {
    --width: 47%;
  }
}
